.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 25px;

  max-width: 600px;
  width: 100%;
  height: max-content;
  margin: 50px auto;
  padding: 15px;

  border-radius: 10px;

  color: var(--palette-text-main);
  background-color: var(--palette-card-bg-color);
  box-shadow: 0 0 8px 3px rgb(0%, 0%, 0.0392156863%);

  button {
    width: 100%;
  }
}

.cardLabels {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  width: 100%;
}

.editDate {
  margin-left: auto;

  font-size: 12px;
  font-style: italic;
}

.cardTitle {
  font-size: 24px;
  line-height: 1.2;
}

.cardDescription {
  font-size: 18px;
  line-height: 1.2;
}

.cardAnswers {
  margin-top: auto;
  opacity: 0.65;
}

.cardAnswer {
  text-align: justify;
  font-size: 14px;
  font-style: italic;
}

.cardLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;

  margin-left: 15px;
  padding-left: 0;
}

.cardСheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  span {
    padding-bottom: 2px;

    font-size: 14px;
  }
}

.checkbox {
  width: 18px;
  height: 18px;
  accent-color: var(--palette-checkbox-bg);
}
