.btn {
  padding: 0.6em 1.2em;

  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;

  color: var(--palette-button-text-color);
  background-color: var(--palette-button-bg);

  transition: border-color 0.5s;

  &:hover {
    border-color: var(--palette-button-text-color-light);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto var(--palette-button-state-color);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.active {
  color: #000;
  background-color: #ce7e1d;

  &:hover {
    border-color: var(--palette-text-secondary);
  }
}