@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "palette.scss";
@import "variables.scss";


a {
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    --palette-bg-main: var(--palette-card-bg-color-light);
    --palette-text-main: var(--palette-text-secondary);
    --palette-button-bg: var(--palette-button-bg-dark);
    --palette-button-text-color: var(--palette-button-text-color-light);
    --palette-card-bg-color: var(--palette-card-bg-color-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --palette-bg-main: var(--palette-bg-main);
    --palette-text-main: var(--palette-text-main);
    --palette-button-bg: var(--palette-button-bg-dark);
    --palette-button-text-color: var(--palette-button-text-color-light);
    --palette-card-bg-color: var(--palette-card-bg-color-dark);
  }
}