:root {
  --palette-text-main: #fff;
  --palette-text-secondary: #000;

  --palette-bg-main: #23272f;

  --palette-button-bg-dark: #4f5359;
  --palette-button-light: #16444f;
  --palette-button-state-color: #2f2f2f;
  --palette-button-text-color-light: #57c4dc;

  --palette-card-bg-color-dark: #343a46;
  --palette-card-bg-color-light: #ebedf0;

  --palette-font-family: 'Poppins', sans-serif;
}